doctype html
head
  meta(charset='utf-8')
  link(rel='apple-touch-icon', sizes='76x76', href='assets/img/apple-icon.png')
  link(rel='icon', type='image/png', sizes='96x96', href='assets/img/favicon.png')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  title Paper Dashboard by Creative Tim
  meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
  meta(name='viewport', content='width=device-width')
  // Bootstrap core CSS
  link(href='assets/css/bootstrap.min.css', rel='stylesheet')
  // Animation library for notifications
  link(href='assets/css/animate.min.css', rel='stylesheet')
  // Paper Dashboard core CSS
  link(href='assets/css/paper-dashboard.css', rel='stylesheet')
  // CSS for Demo Purpose, don't include it in your project
  link(href='assets/css/demo.css', rel='stylesheet')
  // Fonts and icons
  link(href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Muli:400,300', rel='stylesheet', type='text/css')
  link(href='assets/css/themify-icons.css', rel='stylesheet')
style.
  body {font-family: Arial, Helvetica, sans-serif;}
  /* The Modal (background) */
  .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 20; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  padding-left:200px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  /* Modal Content */
  .modal-content {
  background-color: #fefefe;
  margin: auto;
  overflow: auto;
  z-index: 1;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  }
  /* The Close Button */
  .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  }
  .close:hover,
  .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  }
.wrapper
  .sidebar(data-background-color='white', data-active-color='danger')
    //
      Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
      Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
    .sidebar-wrapper
      .logo
        a.simple-text(href='http://www.creative-tim.com')
          | JetPack
      ul.nav
        li
           a(href='https://jetpack-delivery.tk/table')
            i.ti-view-list-alt
            p &#x5DE;&#x5E9;&#x5DC;&#x5D5;&#x5D7;&#x5D9;&#x5DD;
        li
          a(href='https://jetpack-delivery.tk/costumers')
            i.ti-text
            p &#x5DC;&#x5E7;&#x5D5;&#x5D7;&#x5D5;&#x5EA;
        li
          a(href='https://jetpack-delivery.tk/users')
            i.ti-pencil-alt2
            p &#x5DE;&#x5E9;&#x5EA;&#x5DE;&#x5E9;&#x5D9;&#x5DD;
        li.active
          a(href='https://jetpack-delivery.tk/other')
            i.ti-bell
            p &#x5E9;&#x5D5;&#x5E0;&#x5D5;&#x5EA;
        li
          a(href='https://jetpack-delivery.tk/costumer_list')
            i.ti-bell
            p &#x5E8;&#x5E9;&#x5D9;&#x5DE;&#x5EA; &#x5DC;&#x5E7;&#x5D5;&#x5D7;&#x5D5;&#x5EA;
  .main-panel
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button')
            span.sr-only Toggle navigation
            span.icon-bar.bar1
            span.icon-bar.bar2
            span.icon-bar.bar3
          a.navbar-brand(href='#') &#x5E9;&#x5D5;&#x5E0;&#x5D5;&#x5EA;
        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.ti-panel
                p Stats
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.ti-bell
                p.notification 5
                p Notifications
                b.caret
              ul.dropdown-menu
                li
                  a(href='#') Notification 1
                li
                  a(href='#') Notification 2
                li
                  a(href='#') Notification 3
                li
                  a(href='#') Notification 4
                li
                  a(href='#') Another notification
            li
              a(href='#')
                i.ti-settings
                p Settings
    div
      button(type='button', onclick='addArea()') &#x5D4;&#x5D5;&#x5E1;&#x5E4;&#x5EA; &#x5D0;&#x5D9;&#x5D6;&#x5D5;&#x5E8;
      input#addArea(type='text', placeholder='בחר איזור')
      br
      button(type='button', onclick='removeArea()') &#x5DE;&#x5D7;&#x5D9;&#x5E7;&#x5EA; &#x5D0;&#x5D9;&#x5D6;&#x5D5;&#x5E8;
      input#areaList(list='areaDataList', placeholder='בחר איזור')
      datalist#areaDataList
    div
      button(type='button', onclick='removeAdmin()') &#x5DE;&#x5D7;&#x5D9;&#x5E7;&#x5EA; &#x5D0;&#x5D3;&#x5DE;&#x5D9;&#x5DF;
      input#adminList(list='adminDataList', placeholder='בחר אדמין')
      datalist#adminDataList
    div
      button(type='button', onclick='removeDeliveryGuy()')   &#x5DE;&#x5D7;&#x5D9;&#x5E7;&#x5EA; &#x5E9;&#x5DC;&#x5D9;&#x5D7;
      input#deliveryguylist(list='deiveryDataList', placeholder='בחר שליח')
      datalist#deiveryDataList
    div
      br
      br
      input#deliveryguylist2(list='deiveryDataList', placeholder='בחר שליח')
      datalist#deiveryDataList
      br
      | &#x9;&#x9;&#x9;&#x9; &#x5D4;&#x5D5;&#x5E1;&#x5E3; 101 
      input#file_101(type='file', value='upload')
      | &#x9;&#x9;&#x9;&#x9;  &#x5D4;&#x5D5;&#x5E1;&#x5E3; &#x5D7;&#x5D5;&#x5D6;&#x5D4; &#x5E2;&#x5D1;&#x5D5;&#x5D3;&#x5D4; 
      input#file_contract(type='file', value='upload')
      | &#x9;&#x9;&#x9;&#x9;  &#x5D4;&#x5D5;&#x5E1;&#x5E3; &#x5D4;&#x5E1;&#x5DB;&#x5DD; &#x5E1;&#x5D5;&#x5D3;&#x5D9;&#x5D5;&#x5EA; 
      input#file_secret(type='file', value='upload')
      button(type='button', onclick='addFiles()') &#x5D4;&#x5D5;&#x5E1;&#x5E3; &#x5E7;&#x5D1;&#x5E6;&#x5D9;&#x5DD;
    div
      br
      | &#x9;&#x9;&#x9;&#x5DE;&#x5E9;&#x5D5;&#x5D1; &#x5DC;&#x5E7;&#x5D5;&#x5D7;&#x5D5;&#x5EA;
      br
      input#feedbacklist(list='feedbackDataList', placeholder='שאלות עבור משוב לקוחות')
      datalist#feedbackDataList
      br
      span#firstQuestion(contenteditable='true', style='display: inline-block; border: solid 1px black; min-width: 50px; max-width: 200px') &#x5D4;&#x5D6;&#x5DF; &#x5E9;&#x5D0;&#x5DC;&#x5D4; &#x5E8;&#x5D0;&#x5E9;&#x5D5;&#x5E0;&#x5D4;
      span#secondQuestion(contenteditable='true', style='display: inline-block; border: solid 1px black; min-width: 50px; max-width: 200px') &#x5D4;&#x5D6;&#x5DF; &#x5E9;&#x5D0;&#x5DC;&#x5D4; &#x5E9;&#x5E0;&#x5D9;&#x5D9;&#x5D4;
      span#thirdQuestion(contenteditable='true', style='display: inline-block; border: solid 1px black; min-width: 50px; max-width: 200px') &#x5D4;&#x5D6;&#x5DF; &#x5E9;&#x5D0;&#x5DC;&#x5D4; &#x5E9;&#x5DC;&#x5D9;&#x5E9;&#x5D9;&#x5EA;
      span#fourQuestion(contenteditable='true', style='display: inline-block; border: solid 1px black; min-width: 50px; max-width: 200px') &#x5D4;&#x5D6;&#x5DF; &#x5E9;&#x5D0;&#x5DC;&#x5D4; &#x5E8;&#x5D1;&#x5D9;&#x5E2;&#x5D9;&#x5EA;
      button(type='button', onclick='addFeedbackQuestions()') &#x5D0;&#x5D9;&#x5E9;&#x5D5;&#x5E8;
    div
      button(type='button', onclick='addAdmin()') &#x5D4;&#x5D5;&#x5E1;&#x5E4;&#x5EA; &#x5D0;&#x5D3;&#x5DE;&#x5D9;&#x5DF;
      input#adminName(type='text', placeholder='שם')
      input#adminPhone(type='text', placeholder='טלפון')
      input#adminPassword(type='text', placeholder='סיסמא')
      input#adminArea(list='adminAreaList', placeholder='איזור')
      input#adminAreaNum(type='text', placeholder='מס אזור (0 מודיעין 1 ירושלים)')
      input#adminUsage(type='text', placeholder='הרשאות אדמין : 0 רגיל, 1 שליח')
      datalist#adminAreaList
    div
      button(type='button', onclick='addDeliveryGuyUser()') &#x5D4;&#x5D5;&#x5E1;&#x5E4;&#x5EA; &#x5E9;&#x5DC;&#x5D9;&#x5D7;
      input#delivGuyName(type='text', placeholder='שם')
      input#delivGuyPhone(type='text', placeholder='טלפון')
      input#delivGuyPass(type='text', placeholder='סיסמא')
      input#delivGuySalary(type='text', placeholder='שכר שעתי')
      input#delivGuyAreaNum(type='text', placeholder='מס אזור')
      input#delivList(list='delivAreaList', placeholder='איזור')
       
      datalist#delivAreaList
    div
      button(type='button', onclick='addImageRest ()') &#x5D4;&#x5D5;&#x5E1;&#x5E4;&#x5EA; &#x5EA;&#x5DE;&#x5D5;&#x5E0;&#x5EA; &#x5E8;&#x5E7;&#x5E2; &#x5DC;&#x5DE;&#x5E1;&#x5E2;&#x5D3;&#x5D4;
      input#RestorauntDataListId(list='RestorauntDataList', placeholder='בחר מסעדה')
      datalist#RestorauntDataList
      input#image_rest(type='file', value='upload')
    footer.footer
      .container-fluid
        nav.pull-left
          ul
            li
              a(href='http://www.creative-tim.com')
                | Creative Tim
            li
              a(href='http://blog.creative-tim.com')
                | Blog
            li
              a(href='http://www.creative-tim.com/license')
                | Licenses
        .copyright.pull-right
          | &copy; 
          script.
            document.write(new Date().getFullYear())
          | , made with 
          i.fa.fa-heart.heart
          |  by 
          a(href='http://www.creative-tim.com') Creative Tim
// Core JS Files
script(src='assets/js/jquery.min.js', type='text/javascript')
script(src='assets/js/bootstrap.min.js', type='text/javascript')
// Checkbox, Radio & Switch Plugins
script(src='assets/js/bootstrap-checkbox-radio.js')
// Charts
script(src='https://canvasjs.com/assets/script/canvasjs.min.js')
// Charts Plugin
script(src='assets/js/chartist.min.js')
// Notifications Plugin
script(src='assets/js/bootstrap-notify.js')
// Google Maps Plugin
script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js')
// Paper Dashboard Core javascript and methods for Demo purpose
script(src='assets/js/paper-dashboard.js')
// Paper Dashboard DEMO methods, don't include it in your project!
script(src='assets/js/demo.js')
script(src='https://www.gstatic.com/firebasejs/5.8.1/firebase.js')
script(type='text/javascript', src='js/functions.js')
script.
  // Initialize Firebase
  // TODO: Replace with your project's customized code snippe
  var config = {
  apiKey: "AIzaSyApY_ArxtwaDtxdyogV__a5FCudDgsbs3Y",
  authDomain: "jetpack-f6617.firebaseapp.com",
  databaseURL: "https://jetpack-f6617.firebaseio.com",
  projectId: "jetpack-f6617",
  storageBucket: "jetpack-f6617.appspot.com",
  };
  firebase.initializeApp(config);
  firebase.auth().onAuthStateChanged(function(user) {
  if (user) 
  {
  console.log("aaaa " + user); 
  } 
  else 
  {
  window.location.replace("https://jetpack-delivery.tk/login"); 
  console.log("bbbb " + user);
  }
  });
  var ref = firebase.database().ref().child('areas');
  var areaList = [];
  ref.once("value", function(snapshot) {
  snapshot.forEach(function(child) {
  areaList.push(child.val().area);
  })
  var options = "";
  for (var i = 0; i< areaList.length ; i++)
  {
  options += '<option value="'+areaList[i]+'" />';
  }
  document.getElementById('areaDataList').innerHTML = options;
  document.getElementById('delivAreaList').innerHTML = options;
  document.getElementById('adminAreaList').innerHTML = options;
  });
  var delivGuysNames = [];
  var delivGuys = [];
  ref = firebase.database().ref().child('User_Delivery');
  ref.once("value", function(snapshot) {
  snapshot.forEach(function(child) {
  delivGuysNames.push(child.val().username);
  delivGuys.push(child.val());
  })
  var options = "";
  for (var i = 0; i< delivGuysNames.length ; i++)
  {
  options += '<option value="'+delivGuysNames[i]+ " " + (i+1) + '"  />';
  //console.log(options);
  }
  document.getElementById('deiveryDataList').innerHTML = options;
  });
  var admins_name = [];
  var admins = [];
  ref = firebase.database().ref().child('User_Admin');
  ref.once("value", function(snapshot) {
  snapshot.forEach(function(child) {
  admins_name.push(child.val().name + " " + child.val().phone);
  admins.push(child.val());
  })
  var options = "";
  for (var i = 0; i< admins_name.length ; i++)
  {
  options += '<option value="'+admins_name[i]+'"  />';
  //console.log(options);
  }
  document.getElementById('adminDataList').innerHTML = options;
  });
  var refRestoraunts =  firebase.database().ref().child('Restoraunt');
  var restoraunts_name = [];
  var restoraunts = [];
  refRestoraunts.once("value", function(snapshot) {
  snapshot.forEach(function(child) {
  restoraunts_name.push(child.val().name);
  restoraunts.push(child.val());
  })
  var options = "";
  for (var i = 0; i< restoraunts_name.length ; i++)
  {
  options += '<option value="'+restoraunts_name[i]+'"  />';
  //console.log(options);
  }
  document.getElementById('RestorauntDataList').innerHTML = options;
  });
  var refFeedback =  firebase.database().ref().child('Feedback_Quest');
  var feedbacks = [];
  refFeedback.once("value", function(snapshot) {
  snapshot.forEach(function(child) {
  feedbacks.push(child.key + " " + child.val());
  })
  var options = "";
  for (var i = 0; i< feedbacks.length ; i++)
  {
  options += '<option value="'+feedbacks[i]+'"  />';
  //console.log(options);
  }
  document.getElementById('feedbackDataList').innerHTML = options;
  });
  function addFeedbackQuestions()
  {
  var quest1 = document.getElementById('firstQuestion').innerHTML;
  var quest2 = document.getElementById('secondQuestion').innerHTML;
  var quest3 = document.getElementById('thirdQuestion').innerHTML;
  var quest4 = document.getElementById('fourQuestion').innerHTML;
  if (quest1 !== "הזן שאלה ראשונה")
  {
  refFeedback.child("1").set(quest1);
  }
  if (quest2 !== "הזן שאלה שנייה")
  {
  refFeedback.child("2").set(quest2);
  }
  if (quest3 !== "הזן שאלה שלישית")
  {
  refFeedback.child("3").set(quest3);
  }
  if (quest4 !== "הזן שאלה רביעית")
  {
  refFeedback.child("4").set(quest4);
  }
  console.log("eee:" + quest1);
  }
  function addArea()
  {
  var ref = firebase.database().ref().child('areas');
  console.log("fff");
  var area = document.getElementById('addArea').value;
  ref.once("value", function(snapshot) {
  var found = false;
  snapshot.forEach(function(child)
  {
  if (child.val().area === area)
  {
  found = true;
  }
  });
  if (found)
  {
  }
  else
  {
  let val = { area: area }
  ref.push(val);
  }
  });
  }
  var rest_image = null;
  var filerest = document.getElementById('image_rest');
  filerest.addEventListener('change',function(e){
  rest_image = e.target.files[0];
  });
  function addImageRest()
  {
  if (rest_image == null)
  {
  alert("אנא בחר תמונה");
  return;
  }
  var rest_name = document.getElementById('RestorauntDataListId').value;
  for (var i=0; i< restoraunts.length; i++)
  {
  var temp = (restoraunts[i].name);
  if ( temp === rest_name)
  {
  ref = firebase.database().ref().child('Restoraunt').child(restoraunts[i].key).child("image_path").set(rest_image.name);
  var storageRef = firebase.storage().ref('photos/' + rest_image.name);
  storageRef.put(rest_image);
  alert("פעולה בוצעה בהצלחה");
  return;
  }
  }
  }
  function addAdmin()
  {
  var name = document.getElementById("adminName").value;
  var adminPhone = document.getElementById("adminPhone").value;
  var adminPassword = document.getElementById("adminPassword").value;
  var adminArea = document.getElementById("adminArea").value;
  var adminAreaNum = document.getElementById("adminAreaNum").value;
  var adminUsage = document.getElementById("adminUsage").value;
  if (adminUsage === null || adminUsage === "" || adminUsage === undefined)
  {
  alert("חסר קלט");
  return;
  }
  if (adminAreaNum === null || adminAreaNum === "" || adminAreaNum === undefined)
  {
  alert("חסר קלט");
  return;
  }
  if (name === null || name === "" || name === undefined)
  {
  alert("חסר קלט");
  return;
  }
  if (adminPhone === null || adminPhone === "" || adminPhone === undefined)
  {
  alert("חסר קלט");
  return;
  }
  if (adminPassword === null || adminPassword === "" || adminPassword === undefined)
  {
  alert("חסר קלט");
  return;
  }
  if (adminArea === null || adminArea === "" || adminArea === undefined)
  {
  alert("חסר קלט");
  return;
  }
  let admin = {
  username: name,
  phone: adminPhone ,
  email: adminPhone + "@admin.com",
  pass: adminPassword,
  adminArea: adminArea,
  area_num: adminAreaNum,
  usage: parseInt(adminUsage)};
  var refAdmin = firebase.database().ref().child('UsersAdmin');
  refAdmin.child(admin.phone).set(admin)
  .then(()=>{
  firebase.auth().createUserWithEmailAndPassword(admin.email.toString(), admin.pass.toString())
  .catch(error =>{
  console.log("already exists " + error)
  post('https://jetpack-delivery.tk/123', {name: admin.email.toString() ,pass: admin.pass.toString(),create_new:true });
  })
  .finally(function(){
  alert("הוסף בהצלחה")
  })

  })
  .catch(error =>{
  console.log("error on set  " + error)
  });
  }
  
  function addDeliveryGuyUser()
  {
  var name = document.getElementById("delivGuyName").value;
  var delivGuyPhone = document.getElementById("delivGuyPhone").value;
  var delivGuyPass = document.getElementById("delivGuyPass").value;
  var delivGuySalary = document.getElementById("delivGuySalary").value;
  var delivList = document.getElementById("delivList").value;
  var delivGuyAreaNum = document.getElementById("delivGuyAreaNum").value;
  if (name === undefined  || name === "" || delivGuyPhone === undefined  || delivGuyPhone === "" ||
  delivGuyPass === undefined  || delivGuyPass === "" || delivList === undefined  || delivList === ""
  || delivGuySalary === undefined  || delivGuySalary === "" || delivGuyAreaNum == null || delivGuyAreaNum == "" )
  {
  alert("חסר קלט");
  return;
  }
  if ( isNaN(delivGuyAreaNum) || delivGuyAreaNum <0)
  {
  alert("אנא הכנס מספר אזור תקין");
  return;
  }
  var temp = firebase.database().ref().child('deliveryGuyIndex').transaction(function(deliveryGuyIndex){
  if (deliveryGuyIndex === null)
  {
  return deliveryGuyIndex;
  }
  else
  {
  let temp =  deliveryGuyIndex;
  deliveryGuyIndex++;
  return deliveryGuyIndex;
  }
  }).then(snap =>{
  let new_index = snap.snapshot.val();
  let user_delivery = 
  {
  username: name,
  indexString: (new_index).toString(),
  phone: delivGuyPhone	 ,
  password: delivGuyPass,
  salary: parseFloat(delivGuySalary),
  area: delivList,
  areaNum:delivGuyAreaNum
  };
  var refUser = firebase.database().ref().child('User_Delivery');
  refUser.child(delivGuyPhone).set(user_delivery)
  firebase.auth().createUserWithEmailAndPassword(delivGuyPhone.toString() + "@gmail.com", delivGuyPass).then(function(){
  }).catch(error =>{
  post('https://jetpack-delivery.tk/123',{name: delivGuyPhone.toString() + "@gmail.com" ,pass: delivGuyPass,create_new:true});
  }).finally(function() {
  console.log(" fff ref : " +delivGuyAreaNum == 0 ? "": delivGuyAreaNum )
  let ref = delivGuyAreaNum == 0 ? undefined: delivGuyAreaNum
  var refGuys = firebase.database().ref(ref).child('Delivery_Guys');
  let deliv_guy_user = 
  {
  "dest_changed" : false,
  "index" : parseInt(user_delivery.indexString),
  "index_profile_array" : -1,
  "index_string" : user_delivery.indexString,
  "is_active" : false,
  "latetude" : 32.7806014,
  "longtitude" : 35.019238,
  "name" : name,
  "num_of_deliveries" : 0,
  "num_of_packages" : 0,
  "phone" : delivGuyPhone,
  "picture" : "",
  "reset_profile" : false,
  "salary" : user_delivery.salary,
  "sent_start_shift_report" : false,
  "timeBeFree" : "23:14",
  "time_key" : "",
  "token" : "",
  "ios_token" : "",
  "update_db" : false,
  "areaNum" : delivGuyAreaNum

  }
  alert("הכנסת בהצלחה שליח: " + deliv_guy_user.name)
  refGuys.child(user_delivery.indexString).set(deliv_guy_user);
  })

  }).catch(error =>{
  alert("error: " + error);
  })
  }
  function removeArea()
  {
  var ref = firebase.database().ref().child('areas');
  console.log("fff");
  var area = document.getElementById('areaList').value;
  ref.once("value", function(snapshot) {
  snapshot.forEach(function(child)
  {
  if (child.val().area === area)
  {
  ref.child(child.key).remove();
  return;
  }
  });
  });
  }
  function removeAdmin()
  {
  console.log("fff");
  var admin = document.getElementById('adminList').value;
  for (var i=0; i< admins.length; i++)
  {
  var temp = (admins[i].name + " " + admins[i].phone);
  if ( temp === admin)
  {
  ref = firebase.database().ref().child('User_Admin').child(admins[i].adminEmail).remove();
  return;
  }
  }
  }
  var file_101;
  var file_contract;
  var file_secret;
  var filebutt_101 = document.getElementById('file_101');
  filebutt_101.addEventListener('change',function(e){
  file_101 = e.target.files[0];
  })
  var filebutt_contract = document.getElementById('file_contract');
  filebutt_contract.addEventListener('change',function(e){
  file_contract = e.target.files[0];
  })
  var filebutt_secret = document.getElementById('file_secret');
  filebutt_secret.addEventListener('change',function(e){
  file_secret = e.target.files[0];
  })
  function removeDeliveryGuy()
  {
  var arr = document.getElementById('deliveryguylist').value.split(" ");
  var index_selected = arr[arr.length-1]-1;
  var delivery_guy = delivGuys[index_selected];
  ref = firebase.database().ref().child('Delivery_Guys').child(delivery_guy.indexString).remove();
  ref = firebase.database().ref().child('User_Delivery').child(delivery_guy.phone).remove();
  }
  function addFiles()
  {
  var arr = document.getElementById('deliveryguylist2').value.split(" ");
  var index_selected = arr[arr.length-1]-1;
  var delivery_guy = delivGuys[index_selected];
  ref = firebase.database().ref().child('User_Delivery');
  if (file_101 != null)
  {
  var storageRef = firebase.storage().ref('files/101/' + file_101.name);
  storageRef.put(file_101);
  ref.child(delivery_guy.phone).child("file_101").set(file_101.name);
  }
  if (file_contract != null)
  {
  var storageRef = firebase.storage().ref('files/contracts/' + file_contract.name);
  storageRef.put(file_contract);
  ref.child(delivery_guy.phone).child("file_contract").set(file_contract.name);
  }
  if (file_secret != null)
  {
  var storageRef = firebase.storage().ref('files/secrets/' + file_secret.name);
  storageRef.put(file_secret);
  ref.child(delivery_guy.phone).child("file_secret").set(file_secret.name);
  }
  }
  //alert("fff");
